body {
  margin: 0;
  padding: 0;
  background-color: #b8e6e7;
  color: #1b5051;
}
.header {
  position: absolute;
  margin-left: 30px;
  position: absolute;
  top: 800px;
}

#legendTable {
  position: absolute;
  margin-top: 10px;
  margin-left: 30px;
}

.body-container {
  position: relative;
}

.debug {
  z-index: -1;
  width: 300px;
  height: 300px;
  position: absolute;
  left: 40%;
  top: 40px;
  color: red;
}

.error {
  color: red;
}

.ship-placement {
  margin-left: 30px;
}

.game-grid table, th, td {
  border-style: solid;
  border-width: 2px;
}

.game-grid table {
  display: inline;
  height: 500px;
  width: 500px;
}

.game-grid th, td {
  height: 40px;
  width: 40px;
}

.hit {
  background-color: #ab1616;
  border-color: #D20000;
  color: #04b646;

}

.miss {
  background-color: #0092D2;
  border-color: #0092D2;


}

.ship {
  background-color: #00D20A;
  border-color: #00D20A;
}

.grid {
  margin: 0 30px;
  display: inline-table;
}

.start-game {
  z-index: 1;
  padding: 0;
  margin: 0 auto;
  width: 100px;
}

.row {
  text-align: center;
  display: inline-block;
  width: 100%;
}

.col {
  display: inline-block;
  text-align: left;
  margin: 10 auto;
  padding: 0 100px;
  width: 400px;
  position: relative;
}

@media(max-width:700px) {
  .header {
    display: block;
    position: static;
  }

  #legendTable {
    display: block;
    position: static;
  }

  .row {
    display: block;
  }

  .col {
    padding: 0;
  }

  .start-game {
    margin-top: 30px;
  }

  .debug {
    width: 300px;
    height: 100px;
    position: static;
    display: block;
    /*left: 40%;
    top: 40px;*/
  }
}
