body {
  margin: 0;
  padding: 0;
  background-color: #709c75;
  color: #54504a;
}

h1 {
  margin-top: 0;
}

.body-container {
  background-color: #f2d58f;
  width: 900px;
  margin: auto;
  margin-top: 0;
  padding: 20px;
}

.heading {

}

.content {

}

#message {
  color: #FF0000;
}
